body {
  background-color: #f8f9fa;
}

.login-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  margin-top: 15px;
}

.btn-primary {
  background-color: black;
}